body {
	background-color: #1e1e1e;
	color: #d4d4d4;
	font-family: "Fira Code", monospace;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

header {
	text-align: center;
	padding: 1rem;
}

h1,
h2,
h3 {
	color: #dcdcaa;
}

a {
	color: #007bff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
